<div class="auth-container">
  <div class="row auth-main">
     <!-- <div class="col-sm-6 px-0 d-none d-sm-block">
      <div class="left-img" style="background-image: url(assets/images/pages/bg-03.png);">
      </div>
      <img src="assets/images/forgot-password.png" style="margin: 100px;" width="700px" height="600px"/> -->
    <!-- </div> --> 
    <div class="col-sm-6 auth-form-section">
      <div class="form-section">
        <div class="auth-wrapper">
          <!-- <div>
            <img src="assets\images\Equity_logo.png" style="margin: 40px;" width="100px" height="80px">
          </div> -->
          <h4 class="welcome-msg"> Reset Password </h4>
          <form class="validate-form" [formGroup]="authForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="form-group">
                  <label for="emailAddress">Email</label>
                  <input type="email" name="emailAddress" id="emailAddress" class="form-control" formControlName="emailAddress">
                  <small *ngIf="authForm.get('emailAddress').hasError('required') && authForm.get('emailAddress').touched" class="text-danger">Email is required.</small>
                  <small *ngIf="authForm.get('emailAddress').hasError('email') && authForm.get('emailAddress').touched" class="text-danger">Invalid email format.</small>
                </div>
                
              </div>
            </div>
            <div class="container-auth-form-btn mt-5">
              <button mat-flat-button color="primary" class="auth-form-btn" [disabled]="!authForm.valid " type="submit">
                           Reset Password </button>
            </div>
            <div class="w-full p-t-25 text-center">
              <div>
                <a routerLink="/authentication/signin" class="txt1">
                  Login?
                </a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>
