<section class="content">
    <div class="content-block">
        <div class="block-header">
            <div class="col-sm-12">
                <div class="tab d-flex" style="width: 100%;">
            <button class="tablinks h5" routerLink="">Intra-Day </button>
            <button class="tablinks h5" routerLink="">Reserve</button>
            <button class="tablinks h5" routerLink="">ATM</button>
            <button class="tablinks h5" routerLink="">Suspension GL</button>
            <button class="tablinks h5" routerLink="">Other GLs</button>
          
          </div>
             
            </div>
        </div>
    </div>
    </section>
    