<section class="content">
    <div class="content-block">
        <div class="block-header">
            <div class="col-sm-12">
                <div class="tab d-flex" style="width: 100%;">
            <button class="tablinks h5" routerLink="/reports/rtgs">RTGS</button>
            <button class="tablinks h5" routerLink="/reports/swift">SWIFT </button>
            <button class="tablinks h5" routerLink="/reports/eft">EFT</button>
            <button class="tablinks h5" routerLink="/reports/internal-transfer">Internal transfer</button>
            <button class="tablinks h5" routerLink="">Ria </button>
            <button class="tablinks h5" routerLink="/reports/money-gram">Money Gram</button>
            <button class="tablinks h5" routerLink="/reports/western-union">Western Union</button>
            <button class="tablinks h5" routerLink="">Hello Paisa</button>
          </div>
             
            </div>
        </div>
    </div>
    </section>
    