<section class="content">
    <div class="content-block">
        <div class="block-header">
            
            <div class="tab">
                <button class="tablinks" routerLink="/rtgs">RTGS</button>
                <button class="tablinks" routerLink="/swift">SWIFT</button>
                <button class="tablinks" routerLink="/eft">EFT</button>
                <button class="tablinks" routerLink="/tab4">Internal Funds Transfer</button>
            
              </div>
            
        </div>
        </div>
    </section>
