<section class="content">
    <div class="content-block">

        <div>
            <app-rtgs></app-rtgs>
        </div>
        <div class="block-header">
            <div class="col-sm-12">
                <div class="tab d-flex" style="width: 100%;">
                    <button class="tablinks h5" routerLink="/rtgs">RTGS</button>
                    <button class="tablinks h5" routerLink="/swift">SWIFT </button>
                    <button class="tablinks h5" routerLink="/eft">EFT</button>
                    <button class="tablinks h5" routerLink="/internal-transfer">Internal transfer</button>
                    <button class="tablinks h5" routerLink="/swift">Ria </button>
                    <button class="tablinks h5" routerLink="/swift">Money Gram</button>
                    <button class="tablinks h5" routerLink="/eft">Western Union</button>
                    <button class="tablinks h5" routerLink="/internal-transfer">Hello Paisa</button>
                </div>

            </div>
        </div>
    </div>

</section>