
.details{
    width:80%;
    letter-spacing:3em;
}

.details-container {
    display: flex horizontally;
    justify-content: space-evenly;
  }
a{
    margin-left: 2%;
}
  
table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }
.dialog-close {
  position: relative;
    display: flex;
    justify-content: flex-end; /* Aligns items to the right */
    align-items: center; /* Aligns items vertically center */
    margin-top: 20px; /* Adjust as needed */
}

#printButton {
    margin-left: 10px; /* Adds some space between the buttons */
}
