<section class="content">
    <div class="content-block">
        <div class="block-header">
            <div class="row col-sm-12 mt-3">
                <h4 class="text-center">Tellers' Information</h4>
            </div>

            <div class="card-body table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Teller</th>
                            <th>Email</th>
                            <th>Id Number</th>
                            <th>PF Number</th>
                            <th rowspan="2" class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let teller of tellers">
                            <td>{{ teller.name }}</td>
                            <td>{{ teller.email }}</td>
                            <td>{{ teller.national_id }}</td>
                            <td>{{ teller.pfnumber }}</td>
                            <td class="text-center">
                                <!-- Action buttons -->


                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>