<section class="content">
    <div class="content-block">
        <div class="block-header">
            <div class="row col-sm-12 mt-3">
                <h4 class="text-center">Tellers' Information</h4>
            </div>

            <div class="card-body table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Teller</th>
                            <th>Role</th>
                            <th>username</th>
                            <th>PF</th>
                            <th rowspan="2" class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> 1</td>
                            <td>corporate Teller</td>
                            <td>DK41621</td>
                            <td>48621</td>
                            <td class="d-flex" style="margin-left: 30%;">
                                <!-- Button trigger modal -->
                                <a routerLink="'/modify'" class="btn btn-primary mx-1">
                                    <i class="fa fa-edit"></i> Edit
                                </a>
                                <a routerLink="#" class="btn btn-danger mx-1">
                                    <i class="fa fa-trash"></i> Delete
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>teller</td>
                            <td>TM42621</td>
                            <td>48622</td>
                            <td class="d-flex" style="margin-left: 30%;">
                                <!-- Button trigger modal -->
                                <a routerLink="/modify" class="btn btn-primary mx-1">
                                    <i class="fa fa-edit"></i> Edit
                                </a>
                                <a routerLink="#" class="btn btn-danger mx-1">
                                    <i class="fa fa-trash"></i> Delete
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>teller</td>
                            <td>DK43621</td>
                            <td>48623</td>
                            <td class="d-flex" style="margin-left: 30%;">
                                <!-- Button trigger modal -->
                                <a routerLink="" class="btn btn-primary mx-1">
                                    <i class="fa fa-edit"></i> Edit
                                </a>
                                <a routerLink="#" class="btn btn-danger mx-1">
                                    <i class="fa fa-trash"></i> Delete
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>