<section class="content">
    <div class="content-block">
        <div class="block-header">
            
            <div class="card-body table-responsive">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Teller</th>
                      <th>Role</th>
                      <th>username</th>
                      <th>PF</th>
                      <th rowspan="2" class="text-center">Action</th>
                     
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td> 1</td>
                      <td>corporate Teller</td>
                      <td>DK41621</td>
                      <td>48621</td>
                      <td>
                        <a href="#">View</a>
                      </td>
                      <!-- <td class="text-center">
                        <a href="tellercreate" class="btn btn-primary">add teller</a >
                        <a href="modify" class="mx-2 btn btn-danger">modify</a>
                        <a href="/edit" class="mx-2 btn btn-danger">Delete</a>
                      </td> -->
                     
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>teller</td>
                        <td>TM42621</td>
                        <td>48622</td>
                        <td>
                          <a href="#">View</a>
                        </td>
                        <tr>
                            <td>3</td>
                            <td>teller</td>
                            <td>DK43621</td>
                            <td>48623</td>
                            <td>
                              <a href="#">View</a>
                            </td>
            
                  </tbody>
                </table>
            
          </div>
             
            </div>
        </div>
    </section>

