
<section class="content">
    <div class="content-block">
        <div class="block-header">
            
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header card-header-warning card-header-icon">
                            <div class="credit-card-icon">
                                <i class="material-icons text-success">content_copy</i>
                            </div>
                            <p id="ttle" class="card-category">Reports</p>
                            <h3 class="card-title">
                                Reports
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="card card-chart">
                            <div class="card-header card-header-success">
                                <div class="ct-chart" id="dailySalesChart"></div>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">Sales</h4>
                                <p class="card-category">
                                    <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in sales.</p>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <i class="material-icons">access_time</i> First quarter
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="card card-chart">
                            <div class="card-header card-header-warning">
                                <div class="ct-chart" id="ProfitsViewChart"></div>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">Profits</h4>
                                <p class="card-category">
                                    <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> Profit.</p>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <i class="material-icons">access_time</i>Quarterly Report
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-chart">
                            <div class="card-header card-header-danger">
                                <div class="ct-chart" id="LoansViewsChart"></div>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">PAR</h4>
                                <p class="card-category">
                                    <span class="text-success"><i class=""></i> 0.5 </span> PAR 30 days.</p>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <i class="material-icons">access_time</i> PAR 30 days
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                
            </div>
        </div>
    

