
<section class="content">
    <div class="content-block">
        <div class="block-header">
            
            <div class="card-body">
                <h4 class="card-title">Deposits</h4>
                <p class="card-category">
                    <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase.</p>
                    <span>50B</span>
            </div>
             <br>
             
            <div class="card-body">
            <h4 class="card-title">Profits</h4>
            <p class="card-category">
                <span class="text-success"><i class="fa fa-long-arrow-up"></i> 75% </span> increase.</p>
                <span>50B</span>
        </div>

            </div>
        </div>
    </section>

