<!-- Widgets -->
<div class="row">
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3">
        <div class="info-box7 bg-c-blue order-info-box7">
            <div class="info-box7-block">
                <h2 class="text-end"><span class="float-start">
                    {{ tellersCount }}
                </span><i class="fas fa-user-plus"></i>
                </h2>
                <p class="m-b-0" style="font-size: 17px; font-weight: 500;">Tellers</p>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 ">
        <div class="info-box7 bg-c-blue order-info-box7">
            <div class="info-box7-block">
                <h2 class="text-end"><span class="float-start">
                    12712
                    <!-- {{ customersCount }} -->
                </span><i class="fas fa-users"></i>
                </h2>
                <p class="m-b-0" style="font-size: 17px; font-weight: 500;">Customers</p>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 ">
        <div class="info-box7 bg-c-blue order-info-box7">
            <div class="info-box7-block">
                <h2 class="text-end"><span class="float-start">
                    {{ transactionsCount }}
                
                    
                </span><i class="fa fa-money-check-dollar"></i>
                </h2>
                <p class="m-b-0" style="font-size: 17px; font-weight: 500;">Transactions</p>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 ">
        <div class="info-box7 bg-c-blue order-info-box7">
            <div class="info-box7-block">
                <h2 class="text-end"><span class="float-start">
                    <!-- {{ farmersCount }} -->
                    1178
                </span><i class="fas fa-arrow-circle-up"></i>
                </h2>
                <p class="m-b-0" style="font-size: 17px; font-weight: 500;">Withdrawals</p>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 ">
        <div class="info-box7 bg-c-blue order-info-box7">
            <div class="info-box7-block">
                <h2 class="text-end"><span class="float-start">
                    <!-- {{ manufacturersCount }} -->
                    1289
                </span>
                    <i class="fas fa-arrow-circle-down"></i>
                </h2>
                <p class="m-b-0" style="font-size: 17px; font-weight: 500;">Deposits</p>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 ">
        <div class="info-box7 bg-c-blue order-info-box7">
            <div class="info-box7-block">
                <h2 class="text-end"><span class="float-start">
                    <!-- {{ processorsCount }} -->
                        12
                </span><i class="fas fa-list"></i></h2>
                <p class="m-b-0" style="font-size: 17px; font-weight: 500;">GLs</p>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 ">
        <div class="info-box7 bg-c-blue order-info-box7">
            <div class="info-box7-block">
                <h2 class="text-end"><span class="float-start">
                    <!-- {{ providersCount }} -->
                    196
                </span><i class="fas fa-server"></i></h2>
                <p class="m-b-0" style="font-size: 17px; font-weight: 500;">Transfers</p>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 ">
        <div class="info-box7 bg-c-blue order-info-box7">
            <div class="info-box7-block">
                <h2 class="text-end"><span class="float-start">
                    <!-- {{ warehoseCount }} -->
                    78
                </span>
                    <i class="fas fa-earth-americas"></i></h2>

                <p class="m-b-0" style="font-size: 17px; font-weight: 500;">Western Union</p>
            </div>
        </div>
    </div>
</div>