<div class="otpBackground">
  <div class="container d-flex justify-content-center align-items-center">
    <div class="position-relative">
      <div class="card text-center">
        <div class="text-center">
            <img src="assets\images\Equity_logo.png" width="180px" height="100px" class="px-2 mx-2" alt="">
        </div>
        <div class="text-center text-info">
            <!-- <h3>Teller Automation</h3> -->
            <h3>Branch Service Hub</h3>
            
        </div>
        <h6>
          Please enter the one time password <br />
          to verify your account
        </h6>
        <br />

        <div>
          <span>A code has been sent to </span>
          <small>{{ maskedEmail }}</small>
        </div>
        
        

        <form [formGroup]="otpForm" (ngSubmit)="onSubmit()">
          <div class="inputs d-flex flex-row justify-content-center mt-2">
            <input class="mx-3 text-center form-control rounded" type="text" formControlName="first" maxlength="1" />
            <input class="mx-3 text-center form-control rounded" type="text" formControlName="second" maxlength="1" />
            <input class="mx-3 text-center form-control rounded" type="text" formControlName="third" maxlength="1" />
            <input class="mx-3 text-center form-control rounded" type="text" formControlName="fourth" maxlength="1" />
          </div>
          <div class="mt-4 px-2">
            <button mat-raised-button color="primary" [class.auth-spinner]="loading" [disabled]="loading"
            class="auth-form-btn dark-green-button" [disabled]="!otpForm.valid" type="submit" style="display: block; width: 100%">
              Validate
            </button>
          </div>
        </form>
        <br />
      </div>
    </div>
  </div>
</div>