
.details{
    width:80%;
    letter-spacing:3em;
}

.details-container {
    display: flex horizontally;
    justify-content: space-evenly;
  }
a{
    margin-left: 36%;
}
  
/* Structure */
table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
