<section class="content">
    <div class="content-block">
        <div class="block-header">
            <div class="col-sm-12">
                <div class="tab d-flex" style="width: 100%;">
            <button class="tablinks h5" routerLink="/rtgs">Teller 1</button>
            <button class="tablinks h5" routerLink="/swift">Teller 2 </button>
            <button class="tablinks h5" routerLink="/eft">Teller 3</button>
            
          </div>
             
            </div>
        </div>
    </div>
    </section>
    