<section class="content" style="width: 60%; height: 40%; margin-left: 30%;">
    <div class="content-block">
        <div class="row text-start h4 mt-3">
            Enable Teller
        </div>
        <form class="validate-form mt-3" [formGroup]="addTellerForm" (ngSubmit)="onSubmit()">

            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Id</mat-label>
                    <input matInput type="text" formControlName="id" />
                    <mat-icon matPrefix>account_box</mat-icon>
                    <mat-error *ngIf="addTellerForm.get( 'id')?.hasError( 'required') ">
                        Name is required
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput type="text" formControlName="name" />
                    <mat-icon matPrefix>account_box</mat-icon>
                    <mat-error *ngIf="addTellerForm.get( 'name')?.hasError( 'required') ">
                        Name is required
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput type="text" formControlName="email" />
                    <mat-icon matPrefix>mail_box</mat-icon>
                    <mat-error *ngIf="addTellerForm.get( 'email')?.hasError( 'required') ">
                        Name is required
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>ID Number</mat-label>
                    <input matInput type="text" formControlName="nationalId" />
                    <mat-icon matPrefix>account_box</mat-icon>
                    <mat-error *ngIf="addTellerForm.get( 'nationalId')?.hasError( 'required') ">
                        ID Number is required
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Role</mat-label>
                    <input matInput type="text" formControlName="role" />
                    <mat-icon matPrefix>role</mat-icon>
                    <mat-error *ngIf="addTellerForm.get( 'role')?.hasError( 'required') ">
                        Name is required
                    </mat-error>
                </mat-form-field>
            </div>

            <div *ngIf="error " class="alert alert-danger col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2 ">{{error}}</div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <button class="btn" mat-raised-button [class.auth-spinner]="loading" [disabled]="loading" [disabled]="!addTellerForm.valid" type="submit">Enable</button>
            </div>
        </form>
    </div>
</section>