<section class="content">
    <div class="content-block">
        <div class="block-header">
            <div class="col-sm-12">
                <div class="tab d-flex" style="width: 100%;">
            <button class="tablinks h5" routerLink="/tellers">Tellers'</button>
            <button class="tablinks h5" routerLink="/transactions/funds-transactions">Funds Transfer</button>
            <button class="tablinks h5"  routerLink="/back-office/replenish">Replesnish Teller</button>
            <button class="tablinks h5" routerLink="/transactions/atms-transactions">Replenish ATMs</button>
          
          </div>
             
            </div>
        </div>
    </div>
    </section>
    