<section class="content">
    <div class="content-block">
        <div class="block-header">
            <div class="col-sm-12">
                <div class="tab d-flex" style="width: 100%;">
            <button class="tablinks h5" (click)="viewGls(data)">View GLs</button>
            <button class="tablinks h5"  (click)="allReferrals(data)">Referrals</button>
            <button class="tablinks h5" (click)="approveReferrals(data)">Approve Referrals</button>
          
          </div>
             
            </div>
        </div>
    </div>
    </section>
    